.titleCard{
  background-color: #506BDD;
  color: white;
  padding: 15px 25px;
  margin: 10px 0;
}

.title{
  margin: 0;
}


@media only screen and (min-width: 768px){

  .titleCard{
    padding: 25px 40px;
    margin: 15px 0;
  }
  
  .title{
    font-size: 36px;
  }
  
}